[submodule "clients/substrate"]
	path = clients/substrate
	url = https://github.com/paritytech/substrate
[submodule "clients/smoldot"]
	path = clients/smoldot
	url = git@github.com:smol-dot/smoldot.git
[submodule "clients/gossamer"]
	path = clients/gossamer
	url = https://github.com/ChainSafe/gossamer
